.banner-filter .select {
    width: 100% !important;
}

.seach-component .search-banner {
    width: 400px;
    height: 50px;
}

.seach-component button {
    border-radius: 5px;
}

.seach-component .search-banner ::placeholder {
    color: #BCBCBC;
}

.name-banner {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
    width: 100%;
    max-width: 36rem;
}

@media only screen and (max-width: 1400px) {
    .search-banner {
        margin-left: 15px;
        width: auto !important;
    }
}

.checkbox-product.MuiCheckbox-colorSecondary.Mui-checked {
    color: #ff7500;
}

.filter .select {
    width: 100%;
}

.min-w-16 {
    min-width: 4rem;
}