.sidebar {
  width: 70px;
}

.sidebar .logo {
  height: 10%;
}
.sidebar .menu {
  height: 100%;
}
.sidebar .sidebar-item {
  height: 12%;
  font-size: 8px;
}

.sidebar .active-sidebar-item {
  background-color: #fff1e5;
  color: #e40825;
}

.sidebar .active-sidebar-item svg path[fill="#fff"] {
  fill: #ff3c00;
}

.sidebar .active-sidebar-item svg g path[fill="#fff"] {
  fill: #e40825;
}

.sidebar .active-sidebar-item svg g circle[fill="#fff"] {
  fill: #e40825;
}

.sidebar .active-sidebar-item svg rect[fill="#fff"] {
  fill: #e40825;
}

.appearance-popover .MuiPopover-paper {
  min-width: 410px !important;
  padding: 15px 0px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 10px #7979791a;
}

.appearance-popover .menu-item {
  text-align: left;
  letter-spacing: 0px;
  font-size: 18px;
  padding: 10px 15px;
  color: #311339;
  font-family: "Kanit";
}

.appearance-popover .active-menu-item {
  color: #ff7500;
}
/* @media screen and (max-height: 768px) {
  .sidebar .sidebar-item {
    height: 50px;
    font-size: 6px;
  }
} */
