.avt {
    width: 75px;
    height: 75px;
    background: #FFE2CB 0% 0% no-repeat padding-box;
    border: 3px solid #FFF1E5;
}

.txtAvt {
    color: #FF7500;
    font-size: 42px;
}

.txtName {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 2px;
    color: #FF7500;
}
.imgAvatar {
    width: 71px;
    height: 71px;
    border-radius: 35.5px;
    object-fit: cover;
}