.header {
    height: 75px;
    width: 100vw;
    left: 0;
    box-shadow: 0px 3px 6px #00000029;
}

.header-search {
    width: 500px;
}

.badge {
    top: -7px;
    right: 15px;
    width: 18px;
    height: 18px;
    font-size: 11px;
}
@media screen and (max-width: 640px){
    .badge {
        top: -1px;
        right: 20px;
        width: 18px;
        height: 18px;
        font-size: 11px;
    }  
}

.badge2 {
    width: 18px;
    height: 18px;
    font-size: 11px;
    top: -7px;
    right: -8px;
}
@media screen and (max-width:640px ){
    .badge2 {
        width: 18px;
        height: 18px;
        font-size: 11px;
        top: -7px;
        right: -8px;
    }
}

.noti-icon {
    width: 24px;
}

.icon-nav {
    margin-right: 30px;
}

.header-select .select-category {
    justify-content: flex-end !important;
}

.header-select .select-category span {
    margin-right: 0.125rem;
}

.header-select .select-category li {
    align-items: flex-end;
}

.header-search.recent-popular {
    color: #231f20;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: -1px -1px 10px #0000001A;
    border-radius: 10px;
}
@media screen and (max-width: 640px) {
    .header-search.recent-popular {
        color: #231f20;
        background: none;
        box-shadow: none;
        border-radius: 0px;
    }
}

.header-search.recent-popular .item {
    background-color: #F2F3F7;
    min-width: 80px;
    border-radius: 18px;
    font-size: 1rem;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: normal;
}

.header-search #searchInput {
    color: #231F20;
}

.header-search #searchInput::placeholder {
    color: #BCBCBC;
}

#navigation-menu .MuiPaper-root {
    border-radius: 10px;
    margin-top: 1.625rem;
    padding: 0.75rem;
}

#navigation-menu.notification .MuiPaper-root {
    margin-top: 1.25rem;
}

@media (min-width: 1440px) {
    #navigation-menu .MuiPaper-root {
        padding: 1.5rem;
    }
}