.required::after {
    content: '*';
    color: red;
    padding-left: 2px;
}

.add-new-section {
    border-radius: 10px;
    border: 3px dashed #ff7500;
    color: #FF7500;
}

.add-new-section:hover {
    color: #FF9033;
    border-color: #FF9033;
}

.radio-lable {
    width: 100px;
}

.disable-new-section {
    border-radius: 10px;
    border: 3px dashed #bcbcbc;
    color: #bcbcbc;
}

.section-banner .chevron-down {
    fill: #ff7500;
}