.item {
    height: 33.5px;
    margin-top: 11px;
}

.crossbar {
    height: 1px;
    background-color: #EBEBEB;
}

.txtEllipsis {
    float: left;
    white-space: nowrap; 
    width: 94%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

@media only screen and (max-width: 425px) {
    .txtEllipsis {
        white-space: nowrap; 
        width: 94%; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }

}
@media screen and (max-width: 640px) {
    .item {
        height: 33.5px;
        margin-top: 12px;
        margin-bottom: 11px;
    }

}