.statusPending {
    color: #FF0000;
}

.statusPaid {
    color: #0075C9;
}

.preview {
    /* margin-left: -7px; */
    margin-top: 4px;
    margin-bottom: 14px;
}

.infiniteScroll {
    overflow: unset !important;
}

.noData {
    margin-top: 28.5px;
    font-size: 16px;
    color: #231F20;
}