.noData {
  margin-top: 28.5px;
  font-size: 16px;
  color: #231F20;
}

.organizationIcon svg {
  width: 12px;
  height: 12px;
}

.memberIcon svg {
  width: 12px;
  height: 12px;
}

.userName {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-word;
  width: 100%;
}

.LoadingIndicator circle {
  color: #FF7500;
}