.tracking .indicator {
  height: 30px;
  width: 30px;
  background-color: rgba(255, 117, 0, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tracking .current-stage {
  height: 20px;
  width: 20px;
  background-color: #ff7500;
  z-index: 1;
  border-radius: 50%;
  position: relative;
}

.tracking .stage-description {
  margin-left: 12px;
  flex-grow: 1;
}

.tracking .stage-line::before {
  content: "";
  height: 60%;
  border-left: 2px solid #414a59;
  position: absolute;
  left: 14px;
  top: 70%;
  z-index: 1;
}

.tracking .stage-divider {
  width: calc(100% - 42px);
  height: 1px;
  background-color: #ebebeb;
  margin-left: 42px;
}
